# If for example—you're using Vercel, make sure to set these in Project Settings -> Environment Variables.

# SoundCloud OAuth Client ID
SOUNDCLOUD_CLIENT_ID=

# SoundCloud OAuth Client Secret
SOUNDCLOUD_CLIENT_SECRET=

# Redirect URI registered in your SoundCloud app settings.
SOUNDCLOUD_REDIRECT_URI=

# Used to sign short-lived cookies in the OAuth flow.
# You can generate one with: `openssl rand -base64 32`.
CAZICEX_COOKIE_SECRET=
